<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />

  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div style="display: flex; align-items: center">
          <a class="nav-brand">RxHarmony</a>
          <!-- Menu items -->
          {% if user.is_authenticated %}

          <div class="nav-menu">
            <a
              href="{% url 'profile' %}"
              class="nav-menu-item{% if request.resolver_match.url_name == 'medication_dashboard' %} active{% endif %}"
              >Dashboard</a
            >
            <a
              href="{% url 'pharmacy_finder' %}"
              class="nav-menu-item{% if request.resolver_match.url_name == 'pharmacy_finder' %} active{% endif %}"
              >Pharmacy Locator</a
            >
            <a
              href="{% url 'otc_prescription' %}"
              class="nav-menu-item{% if request.resolver_match.url_name == 'otc_prescription' %} active{% endif %}"
              >Symptom Checker</a
            >
            <a
              href="{% url 'drug-discounts' %}"
              class="nav-menu-item{% if request.resolver_match.url_name == 'otc_prescription' %} active{% endif %}"
              >Coupon Finder</a
            >
          </div>
          {% endif %}
        </div>
        <div class="nav-links">
          {% if user.is_authenticated %}
          <!-- Notification icon -->

          <!-- Profile dropdown -->
          <div class="profile-menu">
            <button class="profile-button" id="profileButton">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </button>
            <div class="profile-dropdown" id="profileDropdown">
              <a href="{% url 'profile_setup' %}" class="dropdown-item"
                >Profile</a
              >

              <div class="dropdown-divider"></div>
              <form action="{% url 'logout' %}" method="POST" style="margin: 0">
                {% csrf_token %}
                <button
                  type="submit"
                  class="dropdown-item"
                  style="
                    width: 100%;
                    text-align: left;
                    border: none;
                    background: none;
                    cursor: pointer;
                  "
                >
                  Sign Out
                </button>
              </form>
              <form
                action="{% url 'change_password_page' %}"
                method="POST"
                style="margin: 0"
              >
                {% csrf_token %}
                <button
                  type="submit"
                  class="dropdown-item"
                  style="
                    width: 100%;
                    text-align: left;
                    border: none;
                    background: none;
                    cursor: pointer;
                  "
                >
                  Change Password
                </button>
              </form>
            </div>
          </div>
          {% else %}
          <a href="{% url 'login' %}" class="nav-menu-item">Sign In</a>
          <a
            href="{% url 'register' %}"
            class="nav-menu-item"
            style="font-weight: 600"
            >Sign Up</a
          >
          {% endif %}
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
